body {
  background: url("../img/background.png");
  background-size: 100%;
  background-repeat: repeat;
  color: #2B2D42;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  padding-bottom: 5px;
}

#result {
  display: none;
}

#after {
  display: none;
}

.container {
  width: 50%;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background: url("../img/ball.jpeg") no-repeat center center;
  background-size: cover;
  color: #2B2D42;
  opacity: 0.7;
  font-family: 'Kreon', serif;
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron h1 {
  padding-top: -15px;
  text-decoration: underline;
  color: #D90429;
}

p, ul {
  font-size: 1.6em;
}

ul {
  padding-top: 15px;
  list-style: none;
}

form {
  font-size: 1.5em;
}

.glyphicon {
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
}

input {
  border: 1px solid #D90429;
  border-radius: 5px;
}

.btn {
  background-color: #E71D36;
  opacity: 0.7;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  color: #E71D36;
  background-color: white;
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: bold;
}
